<ion-content>
  <div class="order-wrapper" *ngIf="day">
    <div class=order-head>
      <div class="tabs-row">
        <div (click)="getOrder(date, $event)" *ngFor="let date of tabs; let i = index" [ngClass]="{ active: i == 0, weekday: true }">
          <div>
            {{ date | date: "dd" }}
            <div class="day">{{ date | date: "EE" }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="order-form">
      <div class="form-wrap">
        <div class="form-title">Your Order</div>
        <div class="input-wrapper">
          <div class="name">
            <ion-item class="form-control" *ngIf="day.options && day.options.first.length > 1; else defaultFirst">
              <ion-select [(ngModel)]="day.first.option" interface="action-sheet">
                <ion-option value="{{option}}" *ngFor="let option of day.options.first;">{{option}}</ion-option>
              </ion-select>
            </ion-item>
            <ng-template #defaultFirst>{{day.first.option || "First Course"}}</ng-template>
          </div>
          <div class="navs">
            <button ion-button (tap)="decrease('first')"><ion-icon name="remove"></ion-icon></button>
            <div class="amount">{{ day.first.value }}</div>
            <button ion-button (tap)="increase('first')"><ion-icon name="add"></ion-icon></button>
          </div>
        </div>
        <div class="input-wrapper">
          <div class="name">
            <ion-item class="form-control" *ngIf="day.options && day.options.second.length > 1; else defaultSecond">
              <ion-select [(ngModel)]="day.second.option" interface="action-sheet">
                <ion-option value="{{option}}" *ngFor="let option of day.options.second;">{{option}}</ion-option>
              </ion-select>
            </ion-item>
            <ng-template #defaultSecond>{{day.second.option || "Second Course"}}</ng-template>
          </div>
          <div class="navs">
            <button ion-button (tap)="decrease('second')"><ion-icon name="remove"></ion-icon></button>
            <div class="amount">{{ day.second.value }}</div>
            <button ion-button (tap)="increase('second')"><ion-icon name="add"></ion-icon></button>
          </div>
        </div>
        <div class="price">
          <div>Total</div>
          <div>{{day.total}} MDL</div>
        </div>
      </div>
    </div>
    <div class="order-footer">
      <button ion-button full (tap)="submit()">place order</button>
    </div>
  </div>
  <ion-refresher (ionRefresh)="updatePage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
</ion-content>
